Repository nelsondaza/webpack-base: changes, and which lefthook commands are due for each by the changed paths.
All: pretty, lint

lefthook.yml:

pre-commit:
  commands:
    pretty:
      glob: '*.{js,ts,jsx,tsx,json,css,scss,sass,yml}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn lint --fix {staged_files} && git add {staged_files}

pre-push:
  parallel: true
  commands:
    test:
      files: git diff --name-only origin/main
      glob: '*.{js,ts,jsx,tsx,json,css,scss,sass,yaml}'
      run: yarn test --findRelatedTests --bail {files}

update dependencies
  .gitignore
  package.json
  yarn.lock
Due: pretty

fix index fallback
  src/App.tsx
  webpack.config.js
Due: pretty, lint

adds Semantic + tailwind
  README.md
  config/assets/semantic-ui/semantic.css
  config/assets/semantic-ui/themes/default/assets/fonts/brand-icons.eot
  config/assets/semantic-ui/themes/default/assets/fonts/brand-icons.svg
  config/assets/semantic-ui/themes/default/assets/fonts/brand-icons.ttf
  config/assets/semantic-ui/themes/default/assets/fonts/brand-icons.woff
  config/assets/semantic-ui/themes/default/assets/fonts/brand-icons.woff2
  config/assets/semantic-ui/themes/default/assets/fonts/icons.eot
  config/assets/semantic-ui/themes/default/assets/fonts/icons.svg
  config/assets/semantic-ui/themes/default/assets/fonts/icons.ttf
  config/assets/semantic-ui/themes/default/assets/fonts/icons.woff
  config/assets/semantic-ui/themes/default/assets/fonts/icons.woff2
  config/assets/semantic-ui/themes/default/assets/fonts/outline-icons.eot
  config/assets/semantic-ui/themes/default/assets/fonts/outline-icons.svg
  config/assets/semantic-ui/themes/default/assets/fonts/outline-icons.ttf
  config/assets/semantic-ui/themes/default/assets/fonts/outline-icons.woff
  config/assets/semantic-ui/themes/default/assets/fonts/outline-icons.woff2
  config/assets/semantic-ui/themes/default/assets/images/flags.png
  config/assets/tailwind/tailwind.css
  package.json
  postcss.config.js
  src/App.tsx
  src/index.js
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: pretty, lint

export assets in folders
  README.md
  package.json
  webpack.config.js
  yarn.lock
Due: pretty, lint

adds initial storybook
  .eslintrc.js
  config/storybook/main.js
  config/storybook/preview.js
  package.json
  src/components/ui/Block.stories.tsx
  webpack.config.js
  yarn.lock
Due: pretty, lint

adds @storybook/addon-jest
  config/storybook/main.js
  config/storybook/preview.js
  package.json
  yarn.lock
Due: pretty, lint

adds @storybook/addon-a11y
  config/storybook/main.js
  package.json
  yarn.lock
Due: pretty, lint

adds styles and containers to stories
  .eslintrc.js
  README.md
  config/storybook/preview.js
  config/storybook/stories.css
  config/storybook/stories.tsx
  tailwind.config.js
Due: pretty, lint

adds redux + RxJS
  .eslintrc.js
  README.md
  config/history.js
  config/store.js
  config/storybook/main.js
  config/storybook/stories.tsx
  package.json
  postcss.config.js
  src/index.js
  src/reducers/index.js
  yarn.lock
Due: pretty, lint

update dependencies
  package.json
  yarn.lock
Due: pretty

initial custom conf for jest
  README.md
  config/env.yml
  config/jest/index.js
  config/utils.js
  package.json
  yarn.lock
Due: pretty, lint

more custom conf for build
  .eslintrc.js
  config/.env.access.example.yml
  config/.env.example.yml
  config/env.yml
  config/storybook/main.js
  config/storybook/preview.js
  config/utils.js
  config/webpack.config.js
  package.json
  webpack.config.js
Due: pretty, lint

add Feature Flags system
  README.md
  config/.env.example.yml
  config/feature_flags/production.yml
  config/jest/index.js
  config/utils.js
  config/webpack.config.js
Due: pretty, lint

add service worker + offline
  README.md
  config/.env.example.yml
  config/sw.js
  config/webpack.config.js
  package.json
  src/index.js
  yarn.lock
Due: pretty, lint

initial size-limit and github actions
  .github/workflows/size-limit.yml
  .size-limit.js
  package.json
  yarn.lock
Due: pretty, lint

initial size-limit and github actions (#1)
  .github/workflows/size-limit.yml
  .size-limit.js
  package.json
  yarn.lock
Due: pretty, lint

update readme and lock file
  README.md
  yarn.lock
Due: none

fix size action branch
  .github/workflows/size-limit.yml
Due: pretty

update action
  .github/workflows/size-limit.yml
Due: pretty

uses default env file
  .github/workflows/size-limit.yml
Due: pretty

update size-limit action + readme and lock file (#2)
  .github/workflows/size-limit.yml
  README.md
  yarn.lock
Due: pretty

adds cypress
  .eslintrc.js
  config/utils.js
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/app.ts
  cypress/integration/sample_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  package.json
Due: pretty, lint

adds cypress (#3)
  .eslintrc.js
  config/utils.js
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/app.ts
  cypress/integration/sample_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  package.json
Due: pretty, lint

adds manifest config
  config/.env.example.yml
  config/utils.js
  config/webpack.config.js
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/icon-16x16.png
  static/icon-180x180.png
  static/icon-192x192.png
  static/icon-256x256.png
  static/icon-32x32.png
  static/icon-384x384.png
  static/icon-512x512.png
  static/indexTemplate.html
  static/manifest.json
  static/tile.png
Due: pretty, lint

initial circle ci config
  .circleci/config.yml
  README.md
Due: pretty

dependencies and lint cypress
  package.json
  tsconfig.json
  yarn.lock
Due: pretty

sort package.json and `pre` testing
  package.json
Due: pretty

sort left hook pres
  lefthook.yml
Due: pretty

allow system var in context
  .prettierrc
  config/.env.example.yml
  config/webpack.config.js
  src/App.tsx
Due: pretty, lint

faster linting
  .eslintrc.js
  .gitignore
  lefthook.yml
  package.json
  tsconfig.json
Due: pretty, lint

load SYSTEM env the right way
  config/utils.js
  config/webpack.config.js
Due: pretty, lint

faster eslint bette rconfig
  .eslintrc.js
  tsconfig.json
Due: pretty, lint

dependencies bust
  package.json
  yarn.lock
Due: pretty

better testing coverage
  config/.env.example.yml
  config/jest/index.js
Due: pretty, lint

added Sentry
  README.md
  config/.env.example.yml
  config/store.js
  config/utils.js
  config/webpack.config.js
  package.json
  src/index.js
  yarn.lock
Due: pretty, lint

storybook should use webpack's modules
  config/storybook/main.js
Due: pretty, lint

eslint check unresolved
  .eslintrc.js
Due: pretty, lint

adjust jest testing conf
  config/jest/index.js
  config/jest/suite.js
Due: pretty, lint

alias common core-js modules
  config/webpack.config.js
Due: pretty, lint

add definitions to stories
  config/storybook/main.js
  config/storybook/preview.js
  config/webpack.config.js
Due: pretty, lint
