Repository nelsondaza/webpack-base: changes, and which lefthook commands are due for each by the changed paths.
All: 1-pretty, 2-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    1-pretty:
      glob: '*.{js,ts,jsx,tsx,json,css,scss,sass,yml}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    2-lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn eslint --cache --fix {staged_files} && git add {staged_files}

pre-push:
  parallel: false
  commands:
    1-test:
      files: git diff --name-only origin/main
      glob: '*.{js,ts,jsx,tsx,json,css,scss,sass,yaml}'
      run: yarn test --findRelatedTests --bail {files}

keep deploy paths consistent
  config/scripts/deploy.js
Due: 1-pretty, 2-lint

remove lodash webpack
  config/webpack.config.js
  package.json
  yarn.lock
Due: 1-pretty, 2-lint

better TS config and typing
  cypress/tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Due: 1-pretty

added cypress and node types
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: 1-pretty

adds tsc to every commit or push
  lefthook.yml
Due: 1-pretty

adds husky pre-commit message
  .gitignore
  .husky/prepare-commit-msg
Due: none

uses tsc for linting files and typing
  lefthook.yml
  package.json
  tsconfig.json
Due: 1-pretty

adds ts-coverage script
  README.md
  package.json
  yarn.lock
Due: 1-pretty

fix some lefthook edges
  .gitignore
  lefthook.yml
Due: 1-pretty

better circle config
  .circleci/config.yml
  .husky/prepare-commit-msg
  lefthook.yml
  package.json
  yarn.lock
Due: 1-pretty

better lefthook config
  lefthook.yml
Due: 1-pretty

update dependencies
  package.json
  tailwind.config.js
  yarn.lock
Due: 1-pretty, 2-lint

better service worker actions
  src/index.js
  src/serviceWorkerRegistration.js
Due: 1-pretty, 2-lint

client reload with current client exclusion
  config/sw.js
  src/index.js
  src/packages/system/src/index.js
  src/serviceWorkerRegistration.js
Due: 1-pretty, 2-lint

add test in CI
  .circleci/config.yml
Due: 1-pretty

update libs
  package.json
  yarn.lock
Due: 1-pretty

fix error when no configs
  config/utils.js
Due: 1-pretty, 2-lint

Circle CI config with bitbucket and Github examples
  .circleci/config.yml
Due: 1-pretty

fix test & clean lock
  config/jest/index.js
  yarn.lock
Due: 1-pretty, 2-lint

build with empty config file
  .circleci/config.yml
  config/jest/index.js
  config/utils.js
Due: 1-pretty, 2-lint

add circle bitbucket link
  .circleci/config.yml
  README.md
  config/.env.example.yml
Due: 1-pretty

allow to load config per environment
  .circleci/config.yml
  config/jest/index.js
  config/scripts/deploy.js
  config/utils.js
  config/webpack.config.js
  lefthook.yml
  package.json
  static/manifest.json
  yarn.lock
Due: 1-pretty, 2-lint

sync config
  config/.env.example.yml
  config/webpack.config.js
Due: 1-pretty, 2-lint

update cy commands
  .circleci/config.yml
  cypress/integration/app.ts
  cypress/support/commands.js
Due: 1-pretty, 2-lint

added ubuntu options in circleci
  .circleci/config.yml
Due: 1-pretty

better environment for building
  config/webpack.config.js
Due: 1-pretty, 2-lint

added responsive styles
  config/assets/scss/responsive.scss
Due: 1-pretty

adding staging ff
  config/feature_flags/staging.yml
Due: 1-pretty

fixed service worker for other browsers
  config/sw.js
  src/index.js
  src/packages/system/src/index.js
  src/serviceWorkerRegistration.js
Due: 1-pretty, 2-lint

lint files
  .eslintrc.js
  src/App.tsx
Due: 1-pretty, 2-lint

use ubuntu as default executor in CI
  .circleci/config.yml
Due: 1-pretty

add ubuntu shaping
  .circleci/config.yml
Due: 1-pretty

update libs
  .eslintrc.js
  .husky/pre-commit
  .husky/pre-push
  config/assets/scss/globals.scss
  config/assets/scss/responsive.scss
  config/git/pre-commit
  config/git/pre-push
  config/scripts/deploy.js
  config/storybook/main.js
  config/storybook/preview.js
  config/storybook/stories.tsx
  config/webpack.config.js
  cypress/integration/app.ts
  cypress/support/commands.js
  lefthook.yml
  package.json
  src/globals.scss
  src/index.js
  src/packages/system/src/Features/index.tests.js
  src/packages/ui/src/components/SimpleButton/index.js
  tailwind.config.js
  tsconfig.dev.json
  tsconfig.json
  yarn.lock
Due: 1-pretty, 2-lint
