Repository nelsondaza/webpack-base: changes, and which lefthook commands are due for each by the changed paths.
All: 1-pretty, 2-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    1-pretty:
      glob: '*.{js,ts,jsx,tsx,json,css,scss,sass,yml}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    2-lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn eslint --cache --fix {staged_files} && git add {staged_files}

pre-push:
  parallel: false
  commands:
    1-test:
      files: git diff --name-only origin/main
      glob: '*.{js,ts,jsx,tsx,json,css,scss,sass,yaml}'
      run: yarn test --findRelatedTests --bail {files}

initial story for README file
  package.json
  src/index.stories.js
  yarn.lock
Due: 1-pretty, 2-lint

added regenerator runtime for ald browsers
  package.json
  src/index.js
  yarn.lock
Due: 1-pretty, 2-lint

use TS importHelpers
  README.md
  package.json
  tsconfig.json
  yarn.lock
Due: 1-pretty

better bundle output minimizer
  config/webpack.config.js
  package.json
  yarn.lock
Due: 1-pretty, 2-lint

better lint
  .eslintrc.js
  config/webpack.config.js
Due: 1-pretty, 2-lint

use tailwind in conf
  .eslintrc.js
  config/.env.example.yml
  config/webpack.config.js
  postcss.config.js
Due: 1-pretty, 2-lint

minify CSS
  package.json
  postcss.config.js
  yarn.lock
Due: 1-pretty, 2-lint

better cypress scripts
  config/.env.example.yml
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: 1-pretty, 2-lint

update dependencies
  package.json
  yarn.lock
Due: 1-pretty

allow to deploy in AWS (S3 + CloudFront)
  config/.env.example.yml
  config/scripts/deploy.js
  package.json
  yarn.lock
Due: 1-pretty, 2-lint

cypress basic examples
  .eslintrc.js
  config/.env.example.yml
  cypress/integration/app.ts
  cypress/support/commands.js
Due: 1-pretty, 2-lint

update dependencies and rules
  .eslintrc.js
  package.json
  yarn.lock
Due: 1-pretty, 2-lint

more accurate cypress test
  cypress/integration/app.ts
Due: 1-pretty, 2-lint

lint some files
  config/scripts/deploy.js
  config/storybook/stories.css
  package.json
  src/components/ui/Block.stories.tsx
  src/packages/ui/src/components/SimpleButton/index.js
  static/browserconfig.xml
  tsconfig.dev.json
Due: 1-pretty, 2-lint

fix scripts with yarn scope
  package.json
Due: 1-pretty

add default engines to package
  package.json
Due: 1-pretty

size-limit with node 16
  .github/workflows/size-limit.yml
  package.json
Due: 1-pretty

increase size-limit to 200 kB
  .size-limit.js
Due: 1-pretty, 2-lint

add default engines to package (#4)
  .github/workflows/size-limit.yml
  .size-limit.js
  config/storybook/preview.js
  package.json
Due: 1-pretty, 2-lint

add heroku scripts
  config/scripts/heroku-build.sh
  package.json
Due: 1-pretty

fix jest scope
  package.json
Due: 1-pretty

add Proc file for heroku
  Procfile
Due: none

do not test
  config/scripts/heroku-build.sh
Due: none

npx serve
  Procfile
Due: none

serve public
  Procfile
  package.json
Due: 1-pretty

scope http serve in yarn
  config/scripts/heroku-build.sh
  package.json
Due: 1-pretty

npx http-serve for heroku
  Procfile
  package.json
Due: 1-pretty

add heroku scripts (#5)
  Procfile
  config/scripts/heroku-build.sh
  package.json
Due: 1-pretty

dependencies
  package.json
  yarn.lock
Due: 1-pretty

added workbox
  src/index.js
Due: 1-pretty, 2-lint

better size-limit
  .github/workflows/size-limit.yml
Due: 1-pretty

better size-limit 2
  .github/workflows/size-limit.yml
Due: 1-pretty

better size-limit without install
  .github/workflows/size-limit.yml
Due: 1-pretty

better size-limit with install
  .github/workflows/size-limit.yml
Due: 1-pretty

better size-limit with node_modules
  .github/workflows/size-limit.yml
Due: 1-pretty

add version to SW
  src/index.js
Due: 1-pretty, 2-lint

test
  src/App.tsx
Due: 1-pretty, 2-lint

new size-limit
  .github/workflows/size-limit.yml
  src/App.tsx
Due: 1-pretty, 2-lint

confirm reload
  src/index.js
Due: 1-pretty, 2-lint
